body{
    width: 900px;
    margin: auto;
    padding: 5px;
    padding-top: 45px;
    padding-bottom: 35px;
    padding-left: 7px;
    padding-right: 7px;
}
header, section, footer, nav{
    display: block;
}
.heading{
    border: 1px solid black;
    box-sizing: border-box;
    height: 150px;
    width: 765px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.title{
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: 65px;
    padding: 0;
    margin: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    font-family: Georgia;
    font-style: italic;
    padding-left: 3px;
}
a{
    color: grey;
    text-decoration: none;
    padding-left: 25px;
}
img{
    height: 430px;
    width: 430px;
    object-fit: cover;
    margin: 3px;
}
#active{
    color: black;
}
.gallery{
    margin: auto;
    text-align: center;
    padding-top: 0px;
}
.pagename{
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 60px;
    margin: 0px;
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: 35px;
}
footer{
    position: relative;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.copyright{
    font-style: italic;
    font-size: 12px;
    padding-top: 35px;
}
.socialmedia{
    height: 25px;
    width: 25px;
    padding-top: 25px;
}